@media (max-width: 480px) {

 .hero-section-menu{
    display: block;
    position: unset;
    
}
.hero-section-menu-heading{
    display: none;
    
}
.hero-section-menu-navbar{
    width: 100%;
    padding-right: 0;

}
.hero-section-menu-navbar a{
    float: left;
    padding: 9px;
    font-size: 15px;
    
}
.hero-section-main{
    display: block;
}
.hero-section-main-content{
    width: 100%;
}
.hero-section-main-content h1{
    font-size: 2rem;
}
.hero-section-main-content p{
    font-size: 19px;
    margin-right: 30px;
}
.hero-section-main-content button{
    display: none;
}
.hero-section-main-content-resume button{
    display: block;
    padding: 4px;
    font-size: 14px; 
    
}
.hero-section-main-image{
    width: 100%;
    
}
.hero-section-main-image img{
    margin-left: 15px;
    margin-top: 30px;
   
}
.main-section-content{
    margin-top: 500px;
}
.main-section-content-skill{
    display: block;
}
.main-section-content-skill > div{
  font-size: 25px;
}
.footer-section-content{
    display: block;
}
.footer-section-content-contact{
    width: 100%;
}
.footer-section-content-contact > p{
    margin-right: 30px;
}
}
